body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

h1, h2 {
    margin: 1rem 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.employee-list, .task-management, .ceo-view {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.employee-list ul, .task-management table, .ceo-view table {
    width: 100%;
}

.employee-list li, .task-management table tr, .ceo-view table tr {
    line-height: 1.5;
}

.fa-circle {
    color: #ccc;
}

.fa-check-circle {
    color: green;
}