.box{
    height: 100px;
    width: 100vw;
    background-color: #08AEEA;
    background-image: linear-gradient(45deg, #08AEEA 0%, #2AF598 100%);

}


.head{
    color: cornsilk;
    text-align: center;
    line-height: 100px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.maina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}


.name{
     text-align: center;
     background-color: rgb(230, 38, 38);
     color: rgb(254, 252, 243);
     margin-top: 30px;
}
.name1{
    text-align: center;
    background-color: rgb(21, 87, 120);
    color: rgb(254, 252, 243);
}

.name2{
    text-align: center;
    background-color: darkorange;
    color: rgb(254, 252, 243);
}

.name3{
    text-align: center;
    background-color: purple;
    color: rgb(254, 252, 243);
}
.name4{
    text-align: center;
    background-color: rgb(62, 183, 143);
    color: rgb(254, 252, 243);
}

.name5{
    text-align: center;
    background-color: rgb(49, 46, 46);
    color: rgb(254, 252, 243);
}
.name6{
    text-align: center;
    background-color: #3cb8e4;
    color: rgb(254, 252, 243);
    margin-top: 30px;
    text-decoration: none;

}
.name7{
    text-align: center;
    background-color: rgb(148, 138, 112);
    color: rgb(254, 252, 243);
    margin-top: 30px;
    text-decoration: none;

}