/* images */
body{
    overflow-x: hidden;
}
.box{
    height: 100px;
    width: 100vw;
    background-color: #08AEEA;
background-image: linear-gradient(45deg, #08AEEA 0%, #2AF598 100%);

}


.head{
    color: cornsilk;
    text-align: center;
    line-height: 100px;
}

.main-block {
    min-height: 1100px;
    /* border: 1px solid black; */
    width: 100%;
    align-content: center;
}

#block {
    /* padding: 5rem 0 10rem 0; */
    min-height: 400px;
    width: auto;
    /* margin: 50px; */
    /* border: 1px solid black; */
    align-content: center;
}

#block h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    /* margin-bottom: 40px; */
    text-transform: uppercase;
    color: #555;
}

.block-container {
    min-height: 250px;
    width: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;

}

.block-container img {
    display: block;
    width: 300px;

    height: 200px;
    object-fit: cover;
    object-position: center;
}

.img-container {
    /* margin: 0 1rem; */
    position: relative;
    /* border-radius: 10px; */
}

.img-container img {
    height: 300px;
    width: 400px;

    border-radius: 10px;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    line-height: 40px;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
}

.img-content a {
    font-size: 1.2rem;
}

.img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.715);
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.5s ease-in-out;
    border: 4px solid rgb(41, 205, 148);
}

.img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content {
    opacity: 1;
    top: 40%;
}
